{
 box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header#topbar {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
}

#subject-title {
  font-weight: 300;
  font-size: 18px;
  color: #333;
  margin: auto;
}

#back-button {
  font-size: 25px;
  cursor: pointer;
  color: #333;
}

main {
  flex: 1;
  padding: 12px 16px 80px;
  overflow-y: auto;
}

#search-box {
  margin-bottom: 12px;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#topic-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topic-item {
  padding: 13px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  cursor: pointer;
  transition: background 0.2s;
}

.topic-item:hover {
  background-color: #eee;
}

#note-content {
  padding: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  white-space: pre-wrap;
  color: #333;
}

.hidden {
  display: none;
}

#bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  padding: 0.75rem 1rem;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
  z-index: 20;
  border-top: 1px solid #ccc;
}

#bottom-nav button {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.15s ease;
}

#bottom-nav button.active {
  background-color: #000;
  color: #fff;
 cursor: default;
 pointer-events: none;
}
